.word-space-tight {
  word-spacing: -0.7ch;
}

.word-space-tighter {
  word-spacing: -0.9ch;
}

.green-gradient {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}
